app/etc/local.xml
app/etc/local.xml.phpunit
app/etc/local.xml~
/var/
/vendor/
/media/
.idea/
.DS_Store
.sass-cache/
nbproject/
.htpass
.htaccess
test.php
/.tmp_staging/
node_modules/
npm-debug.log
docblocks.php
.project
*.sql
Thumbs.db
composer.phar
node_modules/

# Vendor's stuff
app/code/community/EcomDev/
app/code/community/Oggetto/
app/etc/modules/EcomDev_PHPUnit.xml
app/etc/modules/EcomDev_PHPUnitTest.xml
app/etc/modules/Oggetto_Ajax.xml
lib/EcomDev/
lib/Spyc
lib/vfsStream
shell/ecomdev-phpunit.php
/vendor/

# Developer Toolbar
/app/code/community/Wee
/app/code/local/Wee/
/app/design/adminhtml/default/default/layout/wee_developertoolbar.xml
/app/design/adminhtml/default/default/template/wee_developertoolbar
/app/design/frontend/kerastase/default/layout/wee_developertoolbar.xml
/app/design/frontend/kerastase/default/template/wee_developertoolbar/
/app/etc/modules/Wee_Base.xml
/app/etc/modules/Wee_DeveloperToolbar.xml
/js/wee_developertoolbar

composer.phar